@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Open+Sans:ital,wght@1,300&family=Tektur&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font-family /*
/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Tektur', cursive;/*


/*desliza cuando se clickea en un link del menú*/

html{
    scroll-behavior: smooth;
}

/* MENU */

.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header a{
    font-size: 20px;
    font-family: 'Open Sans' sans-serif;
}

.contenedor-header header .logo a{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    color: #9395D3;
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    color:  #1CB698;
}

.nav-responsive{
    background-color:  #1CB698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* Inicio */

.inicio{
    background: linear-gradient(to top, rgba(34, 40, 43, 0.8), rgba(30,35,38,1)),
    url(img/fondoInicio.jpg);
    background-size: cover;
    height: 100vh;
    color: #9395D3;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 5px solid #9395D3;
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 35px rgba(255, 0, 0, 0.5);
}

.inicio .contenido-banner h2{
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    margin-top: 15px;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgba(255, 238, 5, 0.5);
}

.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover{
    background-color: #1CB698;
}

/* Sobre mí */

.sobremi{
    background: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.sobremi h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
    font-size: 'Open Sans' sans-serif ;
}

.sobremi .contenido-seccion p{
    font: 18px;
    font-family: 'open sans', 'sans-serif';
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span{
    color: #fcce01;
    font-weight: bold;
}

.sobremi .fila{
    display: flex;
}

.sobremi .fila .col{
    width: 50%;
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'open sans', 'sans-serif';
    margin-bottom: 25px;
}

.sobremi .fila .col ul{
    list-style: none;
}

.sobremi .fila .col ul li{
    margin: 12px 0;
    font-size: 19px;
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
    color: #1CB698;
    width: 130px;
}

.sobremi .fila .col ul li span{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}


.sobremi .fila .col .contenedor-intereses .intereses{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.sobremi .fila .col .contenedor-intereses .intereses i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi .fila .col .contenedor-intereses :hover{
    background: #1CB698;
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay{
    width: 100%;
    background-color: #1CB698;
}

/* skills */

.skills{
    background-color: #1b1f1f;
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.skills h2{
    font-size: 48px;
    font-family: 'Open Sans';
    text-align: center;
    padding: 20px 0;
}

.skills .fila{
    display: flex;
}

.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Open Sans';
    margin-bottom: 25px;
}

.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso{
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/*Clases agregadas dinámicamente con JS*/

.skills .skill .html{
    width: 0%;
    animation: 2s html forwards;
}

@keyframes html {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .css{
    width: 0%;
    animation: 2s css forwards;
}

@keyframes css {
    0%{width: 0%;}
    100%{width: 60%;}
}

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0%{width: 0%;}
    100%{width: 30%;}
}

.skills .skill .servicioTecnico{
    width: 0%;
    animation: 2s servicioTecnico forwards;
}

@keyframes servicioTecnico {
    0%{width: 0%;}
    100%{width: 30%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}

@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .trabajoenequipo{
    width: 0%;
    animation: 2s trabajoenequipo forwards;
}

@keyframes trabajoenequipo {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}

@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 60%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}

@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 80%;}
}

/* Curriculum */

.curriculum{
    background-color: #1CB698;
    padding: 50px 20px;
}

.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
    background-color: #1CB698;
}

.curriculum h2{
    font-size: 48px;
    font-family: 'Open Sans';
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila{
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Open Sans';
    margin-bottom: 25px;
}

.curriculum .fila .izquierda{
    border-right: 2px solid #fcce01;
}

.curriculum .fila .derecha{
    border-left: 2px solid #fcce01;
}

.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}

.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .lugar{
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha{
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}

.curriculum .fila .item p{
    line-height: 24px;
}

.curriculum .fila .izq{
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}

.curriculum .fila .der{
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}

.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}
